#include "resources.h"
#include <windows.h>

IDD_DIALOG1 DIALOGEX 0,0,235,66
CAPTION "Authorization"
FONT 8,"MS Shell Dlg",400,0,1
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SETFONT|DS_FIXEDSYS
BEGIN
  CONTROL "OK",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,153,30,50,14
  CONTROL "",IDC_EDIT1,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,21,30,107,14,WS_EX_CLIENTEDGE
  CONTROL "Enter Your NickName",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,21,17,68,8
END

